<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% laod static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
    </head>
    <body>
        <header class="header">
            <div class="div-header">
                <div>
                    <img src="BOCS Logo.png" class="img_bocs">
                </div>
                <nav class="nav">
                    <ul class="link">
                        <li class="links">
                            <a href="#" class="link-item">Inventory</a>
                        </li>
                        <li class="links">
                            <a href="#" class="link-item">Collect & Distribution</a>
                        </li>
                        <li class="links">
                            <a href="#" class="link-item">Reservation</a>
                        </li>
                        <li class="links">
                            <a href="#" class="link-item">Transcription Record</a>
                        </li>
                        <li class="links">
                            <a href="#" class="link-item">Summary Report</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <div class="main">
            <section class="form1">
    
            </section>
            <section class="greeting">
                <div class="typog2">
                    <h1>WELCOME!</h1>
                    <h5>TO</h5>
                </div>
                <div class="subclass">
                    <img src="BOCS Logo1.png" class="img_bocsinvrt">
                </div>
            </section>
        </div>
        <script src="" async defer></script>
    </body>
</html>