{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <title>{{ title }}</title>

    <!-- REFERENCES -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- FAVICONS -->
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/BOCS Logo.png' %}">
    <link rel="apple-touch-icon" type="image/png" href="{% static 'assets/img/BOCS Logo.png' %}">
</head>
<body>
    <header class="header">
        <div>
            <img src="{% static 'assets/img/NCH Logo.png' %}" class="img_nch">
        </div>
        <div class="typog1">
            <p>NATIONAL CHILDREN'S HOSPITAL</p>
            <h1>BLOOD BANK OPERATION<br>CYBER SYSTEM</h1>
        </div>
        <div>
            <img src="{% static 'assets/img/BOCS Logo.png' %}" class="img_bocs">
        </div>
    </header>
    <div class="main">
        <section class="form1">
            <form action="">
                <input type="text" id="uname email" placeholder="Username/Email" Required><br>
                <input type="text" id="password" placeholder="Password" Required><br><br>
                <a href="" class="codered">Forgot Password?</a>
                <input type="submit" value="LOG IN"><br>
                <!-- <input type="submit" value="FORGOT PASSWORD?" class="codered"><br> -->
                <input type="submit" value="CREATE ACCOUNT">
            </form>
        </section>
        <section class="greeting">
            <div class="typog2">
                <h1>WELCOME!</h1>
                <h5>TO</h5>
            </div>
            <div class="subclass">
                <img src="{% static 'assets/img/BOCS Logo1.png' %}" class="img_bocsinvrt">
            </div>
        </section>
    </div>
</body>
</html>